.addUser {
  width: 25%;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  border-radius: 5px;
  margin: 50px auto;
  padding: 50px;
}
.addUserForm {
  margin-top: 10px;
}

.addUserForm .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addUserForm .inputGroup label {
  margin-bottom: 5px;
}
.addUserForm .inputGroup input {
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
}
.addUserForm .inputGroup button {
  border: 0;
  outline: none;
  background-color: rgb(43, 122, 226);
  font-weight: 600;
  font-size: large;
  padding: 13px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  margin-top: 10px;
}
h3 {
  text-align: center;
  margin-top: 10px;
}
.backbtn{
    text-decoration: none;
    font-size: large;
}